body {
    font-weight: 400;
    --bs-danger: #e74c3c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 700;
}

.red {
    color: var(--bs-danger);
}

.red-bg {
    background-color: var(--bs-danger);
    border: none;
    border-radius: 0;
}

.red-bg:hover {
    background-color: #c0392b; /* Darkened color */
}